<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
	<h4 class="page-header">新增节点</h4>
	<form id="orgAddForm">
		<table class="table_border_custom">
			<tbody>
				<tr>
					<td class="lefttd"><label for="name">组织机构名称</label></td>
					<td><input type="text" class="form-control" name="name" id="name" /></td>
				</tr>

				<tr>
					<td class="lefttd"><label for="organization_code">组织机构代码</label></td>
					<td><input type="text" class="form-control" name="organization_code" id="organization_code" /></td>
				</tr>

				<tr>
					<td class="lefttd"><label for="orgDesc">组织机构描述</label></td>
					<td><input type="text" class="form-control" name="orgDesc" id="orgDesc" /></td>
				</tr>
				<tr>
					<td class="lefttd"><input type="button" class="btn btn-info" value="保存" onclick="addOrgSave()" /></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</form>
</body>
</html>