<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<style type="text/css">
table {
	border-collapse: separate;
	border-spacing: 0px 10px;
}

.lefttd {
	padding-right: 15px;
}
.margin-left {
	margin-left: 15px;
}
</style>
</head>
<body>
	<h3 class="page-header">新增用户</h3>
	<div class="alert alert-danger hide">
		<button class="close" type="button"  onclick="$('.alert.alert-danger').hide();">×</button>
		<strong id="checkPromoteMessage">信息填写错误</strong> 
	</div>
	<form id="userAddForm" class="form-horizontal">
		<table>
			<tbody id="userAddTbody">
				<tr>
					<td class="lefttd"><label for="userName">用户名</label></td>
					<td><input type="text" class="form-control" name="userName" id="userName" /></td>
				</tr>
				<tr>
					<td class="lefttd"><label for="password">密码</label></td>
					<td><input type="password" class="form-control" name="password" id="password" /></td>
				</tr>
				<tr>
					<td class="lefttd"><label for="password1">确认密码</label></td>
					<td><input type="password" class="form-control" name="password1" id="password1" /></td>
				</tr>
				<tr>
					<td class="lefttd"><label for="company">单位</label></td>
					<td><input type="text" class="form-control" name="company" id="company" /></td>
				</tr>
				<tr>
					<td class="lefttd"><label for="userDesc">用户描述</label></td>
					<td><input type="text" class="form-control" name="userDesc" id="userDesc" /></td>
				</tr>
				<tr>
					<td class="lefttd"><label for="enable">启用状态</label></td>
					<td>
						<select class="form-control" name="enable" id="enable">
							<option value="enabled">启用</option>
							<option value="disabled">停用</option>
						</select>
					</td>
				</tr>
				
				<tr id = "groupRowDom">
					<td class="lefttd"><label for="groups">主用户组</label></td>
					<td><div th:include="commonModule/groupSelector :: groupSelector('','','')"></div></td>
					<td><button type="button" class="btn btn-info btn-xs margin-left" onclick="addAuxiliaryGroup()">附加组</button></td>
				</tr>
				
				<tr id = "roleRowDom">
					<td class="lefttd"><label for="roles">主角色</label></td>
					<td><div th:include="commonModule/roleSelector :: roleSelector('','','')"></div></td>
					<td><button type="button" class="btn btn-info btn-xs margin-left" onclick="addAuxiliaryRole()">附加角色</button></td>
				</tr>
				
				<tr id = "sumit">
					<td class="lefttd">
						<input type="button" class="btn btn-info" value="保存" onclick="userAddSave()" />
					</td>
					<td></td>
				</tr>
			</tbody>
		</table>

	</form>
</body>
</html>