<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>

	<div th:fragment="roleSelector(defaultOption,id,pageFunction)">
		<script th:inline="javascript">
		/*<![CDATA[*/
			
			//用于确定执行调用者分页链接
			var defaultOption = /*[[${defaultOption}]]*/ "默认角色";
		
			//用于确定执行调用者分页链接
			var pageFunction = /*[[${pageFunction}]]*/ "";
			
			
			//用于同一页面调用多次roleSelector时 区分dom
			var id = /*[[${id}]]*/ ''
			$.ajax({
				url : '/user/roleJSON',
				type : "GET",//方法类型
				cache : false,//false是不缓存，true为缓存
				async : false,//true为异步，false为同步
				dataType : "json",//返回数据的数据类型
				beforeSend : function() {
					//请求前
				},
				success : function(result) {
					//请求成功时
					var selectOpiton = "";
					for (var i = 0; i < result.length; i++) {
						//result[i]表示获得第i个json对象即JSONObject
						//result[i]通过.字段名称即可获得指定字段的值
						if(defaultOption == result[i].id){
							selectOpiton = selectOpiton + "<option value = "+ result[i].id +" selected=\"selected\">" + result[i].authorityName + "</option>";
							continue;
						}
						selectOpiton = selectOpiton + "<option value = "+ result[i].id +" >"
								+ result[i].authorityName + "</option>";
					}
					
					if(defaultOption == "ALL" && pageFunction != "user/userFilter"){
						selectOpiton = "<option value=\"\">所有</option>" + selectOpiton;
					}
					if(pageFunction == "user/userFilter"){
						selectOpiton = "<option value=\"\">所有</option>" + selectOpiton;
					}
					
					$("#roleId"+/*[[${id}]]*/).html(selectOpiton);
				},
				complete : function() {
					//请求结束时 
				},
				error : function() {
					//请求失败时
				}
			});

			/*]]>*/
			</script>
		<select class="form-control" th:name="'roleId'+${id}" th:id="'roleId'+${id}">
		</select>
	</div>

</body>

</html>