<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<style type="text/css">
.tableFilter {
	border-collapse: separate;
	border-spacing: 0px 10px;
}

.lefttd {
	padding-right: 15px;
}
.margin-left {
	margin-left: 15px;
}
</style>
<script type="text/javascript" th:src="@{/js/regulation.js}"></script>
</head>
<body>
	<h3 class="page-header">政策法规制度</h3>
	<div>
		<form id="userFilterForm" class="form-horizontal">
		<table class="tableFilter">
			<tr>
				<td class="lefttd"><label for="role">制度名称</label></td>
				<td class="lefttd"><div><input type="text" class="form-control" name="" id="" /></div></td>
				<td class="lefttd"><label for="role">制度文号</label></td>
				<td class="lefttd"><input type="text" class="form-control" name="" id="" /></td>
				<td class="lefttd"><label for="role">发布机构</label></td>
				<td class="lefttd"><input type="text" class="form-control" name="" id="" /></td>
			</tr>
			<tr>
				<td class="lefttd"><label for="group">制度分类</label></td>
				<td class="lefttd"><div th:include="commonModule/groupSelector :: groupSelector(${#objects.nullSafe(groupIdFilterCriteria,'ALL')},'',${#objects.nullSafe(pageFunction,'')})"></div></td>
				<td class="lefttd"><label for="enable">启用状态</label></td>
				<td class="lefttd">
					<select class="form-control" name="enable" id="enable">
						<option value="" th:selected="${#objects.nullSafe(enableFilterCriteria,'ALL').equals('ALL')}? 'seclected'">所有</option>
						<option value="enabled" th:selected="${#objects.nullSafe(enableFilterCriteria,'ALL').equals('enabled')}? 'seclected'">启用</option>
						<option value="disabled" th:selected="${#objects.nullSafe(enableFilterCriteria,'ALL').equals('disabled')}? 'seclected'">停用</option>
					</select>
				</td>
				<td class="lefttd">
				</td>
				<td class="lefttd">
				</td>
			</tr>
			
		</table>
		<div>
			<button type="button" class="btn btn-info" onclick="regulationFilter()"><span class="glyphicon glyphicon-search">&nbsp;</span>筛选制度</button>
			<button type="button" class="btn btn-info" onclick="regulationAdd()"><span class="glyphicon glyphicon-plus">&nbsp;</span>添加制度</button>
		</div>
		</form>
	</div>

    <h4 class="page-header">制度列表</h4>
    <div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>制度分类</th>
					<th>制度名称</th>
					<th>发文号</th>
					<th>发布机构</th>
					<th>发布日期</th>
					<th>上传部门</th>
					<th>上传日期</th>
					<th>详情</th>
					<th>删除</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users}">
					<td scope="row" th:text="${user.id}">id</td>
					<td th:text="${user.userName}">user</td>
					<td th:text="${user.password}">1qaz@WSX</td>
					<td th:text="${user.userDesc}">普通账户</td>
					<td th:text="${user.enable}">启用</td>
					<td th:text="${user.company}">2营</td>
					<td><div th:each="group:${user.groups}"><span th:text="${group.groupName}"></span></div></td>
					<td><div th:each="authority:${user.authorities}"><span th:text="${authority.authorityName}"></span></div></td>
					<td><button type="button" class="btn btn-info btn-xs" th:href="@{/user/userEdit(id=${user.id},currentPage=${currentPage},size=${size})}" th:onclick="userEdit(this)">编辑</button></td>
					<td><button type="button" class="btn btn-danger btn-xs" th:href="@{/user/userDel(id=${user.id},page=${currentPage},size=${size})}" th:onclick="userDel(this)">删除</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:include="commonModule/page :: page(${#objects.nullSafe(pageFunction,'/user/userManage')})"></div>
	
	<div class="modal" id="deleteAlertModal" style="display: none;">
		<div class="modal-dialog deleteAlertModal-dialog-custom">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title">提示</h4>
				</div>
				<div class="modal-body"><p>确认删除该用户？</p></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-xs" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary btn-xs" id="deleteConfirmBtn">确认</button>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>