<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>

	<div th:fragment="repositorySelector(defaultOption)">
		<script th:inline="javascript">
		/*<![CDATA[*/
			
			//用于确定执行调用者分页链接
			var defaultOption = /*[[${defaultOption}]]*/ "1号库";
			
			$.ajax({
				url : '/repository/repositoryJSON',
				type : "GET",//方法类型
				cache : false,//false是不缓存，true为缓存
				async : false,//true为异步，false为同步
				dataType : "json",//返回数据的数据类型
				beforeSend : function() {
					//请求前
				},
				success : function(result) {
					//请求成功时
					var selectOpiton = "";
					for (var i = 0; i < result.length; i++) {
						//result[i]表示获得第i个json对象即JSONObject
						//result[i]通过.字段名称即可获得指定字段的值
						if(defaultOption == result[i].repositoryName){
							selectOpiton = selectOpiton + "<option selected=\"selected\">" + result[i].repositoryName + "</option>";
							continue;
						}
						selectOpiton = selectOpiton + "<option>"
								+ result[i].repositoryName + "</option>";
					}

					$("#repository").html(selectOpiton);
				},
				complete : function() {
					//请求结束时
				},
				error : function() {
					//请求失败时
				}
			});

			/*]]>*/
			</script>
		<select class="form-control" name="repository" id="repository">
		</select>
	</div>

</body>

</html>