<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<style type="text/css">
table {
	border-collapse: separate;
	border-spacing: 0px 10px;
}

.lefttd {
	padding-right: 15px;
}
.margin-left {
	margin-left: 15px;
}
</style>
</head>
<body>
	<h3 class="page-header">用户组赋权</h3>

	<div class="alert alert-danger hide">
		<button class="close" type="button"onclick="$('.alert.alert-danger').hide();">×</button>
		<strong id="checkPromoteMessage">信息填写错误</strong>
	</div>

	<form id="groupEditForm" class="form-horizontal" th:object="${groupM}">
			<input type="hidden" class="form-control" name="id" id="id" th:value="*{id}" />

			<table>
				<tbody>
					<tr>
						<td class="lefttd"><label for="groupName">用户组名</label></td>
						<td>
							<input type="text" disabled="disabled" class="form-control" name="groupName" id="groupName" th:value="*{groupName}" />
						</td>
					</tr>

					<tr id="groupDescTr">
						<td class="lefttd"><label for="groupDesc">用户组描述</label></td>
						<td>
							<input type="text" disabled="disabled" class="form-control" name="groupDesc" id="groupDesc" th:value="*{groupDesc}" />
						</td>
					</tr>
					
					<tr th:if="${#lists.isEmpty(groupM.authorities)}" id = "roleRowDom">
						<td class="lefttd"><label for="roles">主角色</label></td>
						<td><div th:include="commonModule/roleSelector :: roleSelector('','','')"></div></td>
						<td><button type="button" class="btn btn-info btn-xs margin-left" onclick="addAuxiliaryRole()">附加角色</button></td>
						<td><button type="button" class="btn btn-danger btn-xs margin-left" onclick="delAllRoles()">删除所有角色</button></td>
					</tr>
					
					<th:block th:each="roles,rolesStat: ${groupM.authorities}">
						
						<tr th:id="${rolesStat.count==1}?'roleRowDom' : ''">
							<td class="lefttd"><label for="roles" th:text="${rolesStat.count==1}?'主角色' : '附加角色'">附加角色</label></td>
							<td><div th:include="commonModule/roleSelector :: roleSelector(${roles.id},${rolesStat.count},'')"></div></td>
							<td><button type="button" th:class="${rolesStat.count==1}?'btn btn-info btn-xs margin-left' : 'btn btn-danger btn-xs margin-left'" th:onclick="${rolesStat.count==1}?'addAuxiliaryRole()' : 'delAuxiliaryRole(this)'" th:text="${rolesStat.count==1}?'附加角色' : '删除'"></button></td>
							<td th:if="${rolesStat.count==1}"><button type="button" class="btn btn-danger btn-xs margin-left" onclick="delAllRoles()">删除所有角色</button></td>
						</tr>
					</th:block>

					<tr id = "sumit">
						<td class="lefttd">
							<input type="button" class="btn btn-info" value="保存" th:onclick="groupAuthorityGrantSave([[${currentPage}]],[[${size}]])" />
						</td>
						<td>
							<input type="button" class="btn btn-info" value="取消" th:onclick="groupAuthorityGrantCancel([[${currentPage}]],[[${size}]])"/>
						</td>
					</tr>
				</tbody>
			</table>

	</form>
</body>
</html>