<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
	<h3 class="page-header">用户组管理</h3>
	<button type="button" class="btn btn-info" onclick="groupAdd()"><span class="glyphicon glyphicon-plus">&nbsp;</span>新增用户组</button>
    <br/>
    <br/>
    <h4 class="page-header">用户组列表</h4>
    <div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>用户组名</th>
					<th>用户组描述</th>
					<th>组角色</th>
					<th>用户组赋权</th>
					<th>编辑</th>
					<th>删除</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="groupM : ${groupMs}">
					<td scope="row" th:text="${groupM.id}">id</td>
					<td th:text="${groupM.groupName}">管理员组</td>
					<td th:text="${groupM.groupDesc}">管理员组</td>
					<td><div th:each="authority:${groupM.authorities}"><span th:text="${authority.authorityName}"></span></div></td>
					<td><button type="button" class="btn btn-info btn-xs" th:href="@{/user/groupAuthorityGrant(id=${groupM.id},currentPage=${currentPage},size=${size})}" th:onclick="groupMEdit(this)">用户组赋权</button></td>
					<td><button type="button" class="btn btn-info btn-xs" th:href="@{/user/groupEdit(id=${groupM.id},currentPage=${currentPage},size=${size})}" th:onclick="groupMEdit(this)">编辑</button></td>
					<td><button type="button" class="btn btn-danger btn-xs" th:href="@{/user/groupDel(id=${groupM.id})}" th:onclick="groupMDel(this)">删除</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div th:include="commonModule/page :: page('/user/groupManage')"></div>
		
	<div class="modal" id="deleteAlertModal" style="display: none;">
		<div class="modal-dialog deleteAlertModal-dialog-custom">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title">提示</h4>
				</div>
				<div class="modal-body"><p>确认删除该用户？</p></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-xs" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary btn-xs" id="deleteConfirmBtn">确认</button>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>